.chat-side{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  float: left;
  .side-bar_group-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    line-height: normal;
    font-weight: bold;
    .top-items{
      height: 20px;
      width: 260px; 
      background-color: #333333;
      font-size: 16px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      color: white;
      &__icons{
        color: #ffffff;
        margin-right: 5px;
        display: flex;
        text-decoration: none;
        a{
          color: white;
          text-decoration: none;
        }
        &__icons-menu__new-group{
          color: #ffffff;
          display: inline-block;
          margin-right: 5px;
        }
        &__icon-menu__edit-user{
          color: #ffffff;
          margin-right: 5px;
          display: inline-block;
        }
      }
    }
  }

  .side-bar_group-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 20px;
    .group{
      height: 100px;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
        display: block;
      }
      &__latest-message{
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}
